$("div.accordian").html('<div class="form_name grid_5">Предпросмотр</div> <%= escape_javascript ( render  'sports/sports_content'  ) %>  ');

$('.acc_trigger').removeClass('active').next().hide();
$('h2#sport_' + '<%= escape_javascript ( @league.sport.id.to_s ) %>').toggleClass('active').next().show();

$('.countries li.country a').parent().removeClass('active').next().hide();
$('#sport_'
			+ '<%= escape_javascript ( @league.sport.id.to_s ) %>'
			+ '_country_'
			+ '<%= escape_javascript ( @league.country.id.to_s ) %>'
			+ ' a'
			).parent().toggleClass('active').next().show();

