Gemfile.lock
Gemfile
log/
.log
.idea
.bundle
db/*.sqlite3*
log/*.log
*.log
/tmp/
doc/
nbproject/
*.swp
*~
.project
.pydevproject
.DS_Store 
/nbproject/private/
.project
log/development.log
log/

