.idea
.bundle
db/*.sqlite3*
db/schema.rb
log/*.log
log/*.pid
/tmp/
/test/
config/database.yml
doc/
nbproject/
*.swp
.DS_Store
nbproject/
.project
.settings/
rdoc/*
/public/uploads/
.sass-cache/
public/assets/*
*.pdf
/app/assets/images/*