Спорт 

<div id="sports-accordion" class="sports-accordion-scope">
	
	<% @sports.each do |sport| %>
		<div class="sports-accordion-toggle"> <%= sport.name %></div>
		<div class="sports-accordion-content">
		
			<ul class="countries">
				<% sport.countries.each do |country| %>
				<li class="country"><%= link_to country.name , ""  %></li>
				
				<ul class="ligues">
					<% country.ligues.each do |ligue| %>
					<li><%= ligue.name %></li>
					<% end %>	
				</ul>
				
				<% end %>
			</ul>
			
		</div>
	<% end %>	
	
</div>

<%= link_to "Назад", admin_path %> 
