.betting-odds-header, .bettings-odds-bookmakers, .bettings-odds-data { margin: 1px 0 0 5px; }

.betting-odds-header, .header { font-weight: bold; font-size: 12px;  margin: 10px 0 0 5px; min-height: 25px; }
.bettings-odds-data a, .events-data a { color: #333; text-decoration: none; display: block; width: 530px; height: 100%; margin-left: 5px; float: right; }

.event { min-height: 25px; background: #ccc; margin-bottom: 1px; font-size: 92%; width: 550px; margin-left: 5px;  padding: 5px;}



.bet-name { float: left; margin-left: 5px; }

.bet-odd { float: right; font-weight: bold; margin-right: 10px; }

.event-title { min-height: 20px; background: #fff; text-align: center; margin: 2px 0 0 0px; font-size: 92%; width: 560px;  padding: 5px; border-radius: 3px;
border: 1px solid #CCC; }

.add_to_coupon, .remove_from_coupon { float: left; display: block; text-indent: -9999px; width: 16px; height: 16px; margin-left: 5px;}

.add_to_coupon { background: url('../images/add.png') no-repeat 0 0; }

.remove_from_coupon { background: url('../images/delete.png') no-repeat 0 0; }


.arrow_toggle_down { float: right; }

a.expand {
        float: left;
        cursor: pointer;
        display: block;
        width: 15px;
        height: 16px;
        overflow: hidden;
        text-indent: -9999px;
        background: #fff url("../images/expand.png") 0 -50px ;
}


div.bettings-odds-bookmakers a.active {
    text-decoration: underline;
}

