body { background: #EEE url('../images/admin_bg.png') repeat-x -1px -1px; }

#wrapper { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.warning, .notice, .success, .errorExplanation {
  text-align: left;
  margin: 5px 0px 10px 0px;
  width: 350px;
  font-size: 12px;
  border-radius: 2px;
}

div#wrapper{
  margin-top: 32px;
  padding: 35px;
  background: #f5f5f5;
  min-height: 100px;
}

#user_entrance {
	margin-bottom: 24px;
	margin-left: 0px;
}

#user_entrance ul { float: right; }
