/* temp */
#debug {
	color: #eee;
}

/* HTML5 */
section, header, footer, aside, article, nav {
    display: block;
}

/* Basic settings */
html, body {
  font: normal 13px "Helvetica", Helvetica, Arial, sans-serif;
  background: #aaa;
}

a { font: normal 13px "Helvetica", Helvetica, Arial, sans-serif; }

div#content, div#left_nav {
	margin-bottom: 5px;
 	background: #eee;
}

table {
	margin-left: 10px;
	margin-top: 10px;
}

td, th {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

.actions {
 	margin-top: 15px;
}
.actions input {
	
	height: 30px;
	width: 100px;
	background: #eee;
}

.actions input:hover {
	background: #ccc;
}

label { 
  font-size: 12px;
  color: #777;
}

.field { 
  width: 400px;   
}

.field a {
  color: #333;
  font-size: 12px;
}

input[type="text"], input[type="password"], select {
	min-width: 350px;
  border: 1px solid #DDDDDD;
  color: #333333;
  font-size: 14px;
  margin-bottom: 4px;
  padding: 7px 5px 5px;
  font-weight: bold;
  background: #f5f5f5;
}

input[type="submit"] {
	height: 30px;
	color: #111;
	background: #D7DFE6;
	text-align: center;
	border: none;
	color: #708296;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #BFCAD6;
}

input[type="submit"]:hover {
	background: #B2BFCB;
}

input[type="checkbox"] { 
  margin: 0;
  padding: 0;
}


/* Logo */
#logo {
    margin-top: 5px;
	min-height: 30px;
	color: #ccc;
}

#logo a {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
}

#user_entrance {
	min-height: 30px;
}

/* Top navigation */
#navigation ul {
 border-top: #BB0000 1px solid;
}

#navigation ul li {
 	transition: background-color 0.4s ease-in-out;
 	-webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
	width:239px;
	background: #780000;
	margin: 0;
	padding: 0;
	height: 70px;
	float: left;
	text-align: center;
	list-style: none;
	border-left: 1px solid #3E0000;
}
#navigation ul li:first-child { 
	border-left: 1px solid #880C0C;
}

#navigation ul li a{
	color: /*#3E0303*/ #ddd;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 800;
	text-shadow: #CE2828 1px 1px 1px;
	padding-top: 25px;
	font-size: 14px;
	display: block;
	height: 45px;
} 
#navigation ul li:hover {
   	transition: background-color 0.4s ease-in-out;
   	-webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -o-transition: background-color 0.4s ease-in-out;
    background: #9E0000; 
}
/*#navigation ul li a:hover{
   	color: #eee;

}*/

/* Left navigation */
#left_nav  {
	min-height: 400px;
	margin-top: 10px;
}

#left_nav ul {
	margin: 0; 
	padding: 0;
}


/* Right navigation */
#right_nav {
	background: #eee;
	min-height: 400px;
}

/* Registration */
#user_entrance ul {
    float: right;
}

#user_entrance ul li {
	margin-top: 5px;
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

#user_entrance ul li a {
	color: #eee;
    text-decoration: none;
}

#user_entrance ul li a:hover {
    text-decoration: underline;
}


/* Content */
#content {
    overflow: hidden;
    float: left;

}
#content h1 {
font-size: 16px;
	margin-top: 10px;
	margin-left: 30px;
}

#content form {
	margin: 10px 20px 10px 30px;
	width: 400px;
}

/* Footer */
#footer {
	margin-top: 10px;
	min-height: 30px;
}


/* flash notice*/

.notice {
	border: 1px solid orange;
	padding: 10px;
	background: #ffa;
	margin-top: 10px;
	margin-left: 120px;
	width: 350px;
	text-align: center; 
}

.success {
	border: 1px solid green;
	padding: 10px;
	background: #cec;
	margin: 10px 0 10px 100px;
	width: 350px;
	text-align: center;
}

.warning, .errorExplanation {
	border: 1px solid red;
	padding: 10px;
	background: #faa;
	margin-top: 10px;
	margin-left: 120px;
	text-align: center;

}

.errorExplanation ul li {
	list-style: list;
}

