/* temp */
#debug {
  color: #eee;
}

/* HTML5 */
section, header, footer, aside, article, nav {
  display: block;
}

/* Basic settings */
html, body {
  font: normal 11px  Helvetica, Arial, Freesans, sans-serif;

}
body {
 background: #333 url('../images/main-bg.png') repeat 0 0;
}

a { font: normal 11px  Helvetica, Arial, Freesans, sans-serif; color: #CE2828; text-decoration: none; }
a:hover { text-decoration: underline; }

.logo-image-wrapper { width: 187px; height: 51px; float: left; margin: 0 25px 0 16px; }
.logo-image { display:block; width: 187px; height: 51px; background: url('../images/logo.png') no-repeat 0 0; text-indent: -9999px; }
div#wrapper { margin-top: 10px; }
div#wrapper, div#left_nav, div#right_nav { min-height: 700px; /*background: #eee*/ }
/*
div#left_nav { border-right: 1px solid #ccc; }
div#right_nav { border-left: 1px solid #ccc; }

#navigation {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}*/

#sub_navigation {
  background: url('../images/main-menu-bg.png') repeat 0 0;
  margin-top: 10px;
}

#breadcrumb {
  border-bottom: 1px solid #ccc;
  min-height: 20px;
  padding-top: 10px;
  background: #f5f5f5;
  margin-bottom: 10px;
}

#breadcrumb a:first-child {   margin: 5px 0px 0px 10px }

table {
	margin-left: 10px;
	margin-top: 10px;
}

td, th {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

.actions {
 	margin-top: 15px;
}

.actions input {
	height: 30px;
	width: 100px;
	background: #eee;
}

.actions input:hover {
	background: #ccc;
}

label {
  font-size: 12px;
  color: #777;
}

.field {
  width: 400px;
}

.field a {
  color: #333;
  font-size: 12px;
}

input[type="text"], input[type="password"], select {
	min-width: 350px;
  border: 1px solid #DDDDDD;
  color: #333333;
  font-size: 14px;
  margin-bottom: 4px;
  padding: 7px 5px 5px;
  font-weight: bold;
  background: #f5f5f5;
}





input[type="submit"] {
	height: 30px;
	color: #111;
	background: #D7DFE6;
	text-align: center;
	border: none;
	color: #708296;
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid #BFCAD6;
}

input[type="submit"]:hover {
	background: #B2BFCB;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
}


textarea {
  border-color: #ccc;
  border-radius: 5px;
  height: 100px;
  width: 500px;ui-selectmenu
  border: 1px solid #ccc;

}
textarea:focus {
  -moz-box-shadow: 0 0 8px #B2BFCB;
  -webkit-box-shadow: 0 0 8px #B2BFCB;
  border-color: #B2BFCB!important;
}

/* Logo */
#logo {
	color: #ccc;
	margin-bottom: 24px;
}

#logo a {
  text-decoration: none;
  color: #eee;
  font-weight: bold;
  display: block;
  /*background: url('../images/betafisha.png') no-repeat 0 0;*/


}

#user_entrance {
	margin-bottom: 24px;
}

/* Top navigation */
.top-nav {
  float: left;
  width: 772px;
}


#navigation ul {
  /*border-top: #333 1px solid;*/
  	background: url('../images/main-menu-bg.png') repeat 0 0;
  	height: 32px;
  	margin-top: 17px;
}

#navigation ul li {
 /*	transition: background-color 0.4s ease-in-out;
 	-webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
	/*width:245px;*/

	margin: 0;
	padding: 0 25px;
	height: 32px;
	float: left;
	text-align: center;
	list-style: none;
	border-right: 2px solid #333;
}


#navigation ul li a, #sub_navigation ul li a{
	color: #494EA4;
	text-decoration: none;
	text-transform: uppercase;

	font-weight: 800;
	/*text-shadow: #CE2828 1px 1px 1px;*/
	padding-top: 7px;
	font-size: 14px;
	width: 100%;
	display: block;
	height: 25px;
/*	box-shadow: inset 0 0 30px #c53727;
	-moz-box-shadow:inset 0 0 30px #c53727;*/
}

#navigation ul li:hover {
 /*	transition: background-color 0.4s ease-in-out;
 	-webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  background: #AF301F;*/
}

/*#navigation ul li a:hover{
   	color: #eee;

}*/

/* Left navigation */
#left_nav  {
	min-height: 400px;
}

#left_nav ul {
	margin: 0;
	padding: 0;
}


/* Right navigation */


/* Registration */
#user_entrance ul {
  /*  float: right;*/
}

#user_entrance ul li {
	margin-top: 0px;
  list-style-type: none;
  display: inline-block;
  margin-left: 10px;
  color: #f5f5f5;
}

#user_entrance ul li a {
	color: #eee;
  text-decoration: none;
}

#user_entrance ul li a:hover {
  text-decoration: underline;
}


/* Content */
#content {
  overflow: hidden;
  float: left;
}

#content h1 {
font-size: 16px;
	margin-top: 10px;
	margin-left: 30px;
}

#content form {
	margin: 10px 20px 10px 30px;
	width: 400px;
}

/* Footer */
#footer {
	margin-top: 10px;
	min-height: 30px;
}


/* flash notice*/
.notice {
	border: 1px solid orange;
	padding: 10px;
	background: #ffa;
	margin-top: 10px;
	margin-left: 120px;
	width: 350px;
	text-align: center;
}

.success {
	border: 1px solid green;
	padding: 10px;
	background: #cec;
	margin: 10px 0 10px 100px;
	width: 350px;
	text-align: center;
}

.warning, .errorExplanation {
	border: 1px solid red;
	padding: 10px;
	background: #faa;
	margin-top: 10px;
	margin-left: 120px;
	text-align: center;

}

.errorExplanation ul li {
	list-style: list;
}

#locale_ru a {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url('../images/ru.png') no-repeat 0 0;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

#locale_en a {
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url('../images/gb.png') no-repeat 0 0;
  float: right;
  margin-right: 5px;
  cursor: pointer;
}

#footer, footer a {
  color: #AAA;
}


/*
	LEVEL ONE
*/

ul.dropdown li.hover, ul.dropdown li:hover { position: relative; }

/*
	LEVEL TWO
*/
#navigation ul.dropdown ul 	{ visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 1000; }
#navigation ul.dropdown ul li { font-weight: normal; font-size: 12px; background: #000; color: #eee; height: 30px; float: none; padding-top: 5px; }

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a	{  width: 100%; display: inline-block; margin-top: 5px; }


#sub_navigation, #sub_navigation ul { height: 32px; width: 100%;}
#sub_navigation ul li { display: block; float: left;  text-align: center; border-right: 2px solid #333; padding: 0 21px;  }
/*
#sub_navigation ul li a { color: #eee; }*/

/*
	LEVEL THREE
*/
ul.dropdown ul ul 	{ left: 100%; top: 0; background: #000; color: #eee; }
ul.dropdown li:hover > ul { visibility: visible; }


#refresh_box, .my_coupon_data {
  margin-left: 5px; /*margin-right: 1px;*/
}

h2.acc_trigger, .acc_container { width: 200px; 	margin-left: 0; }
 h2.acc_trigger {  background: url('../images/main-menu-bg.png') repeat 0 0; }
.event_name_cell, .event_cell {
  background: #ccc;
  text-align: center;
  float: left;
}

.event_name_cell { width: 425px; }

.event_cell { width: 40px; }
.event_cell_data { text-align: left; }
.event_cell_data a, .event_cell_data span  {  padding: 3px 3px 3px 7px; display: block;  }

.event_cell_data span { text-align: center;}


#country_submit { margin-top: 15px;}


#user_entrance input[type="text"], #user_entrance input[type="password"] {
  height: 16px;
  line-height: 16px;
  min-width: 100px;
  padding: 0 2px;
  font-size: 12px;
  color: #2A2828;
  margin-left: 6px;
  width: 108px;
}

#user_entrance input[type="submit"]  {
  width: 46px;
  color: #2C33A7;
  padding: 0;
  background: #FFF600;
  margin-right: 4width: 108px;px;
  cursor: pointer;
  height: 15px;
  text-align: center;
  border-radius: 0px;
  border: none;
}


#content .coupon-league-manage { margin-left: 5px; }

#left_nav #my_coupon .header { margin-left: 0px;}



#right_nav #my_coupon .header { margin-left: 5px; }

#left_nav #my_coupon .my_coupon_data { margin-left: 0px; }
#right_nav #my_coupon .my_coupon_data { margin-left: 5px; }

