<div class="grid_24">

	<br/>
	<b>gamebookers basketball odds</b> <br/> 
		
		<%= link_to "refresh", "#" ,  :id => 'refresh' %>		
		
		<% @doc_gb.each do |node| %>
		
			<% if node.node_type ==  Nokogiri::XML::Reader::TYPE_ELEMENT %>
					<%= node.name %> 
			<%end%>
			
			<% if node.node_type ==  Nokogiri::XML::Reader::TYPE_TEXT %>
				<% if node.value != nil %> 
					<br/><%= "[" + node.value + "]" %> <br/>
				<%end%>
			<%end%>
			
			<% if node.node_type ==  Nokogiri::XML::Reader::TYPE_END_ELEMENT%>
			<%end%>
		
		<% end %>
</div>
