<li>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
  | <%= link_to "Удалить", user, :method => :delete, :confirm => "Вы уверены?",
                                :title => "Удалить #{user.name}" %>                
  <% end %>
</li> 