<li>
  <span class="user-name-span"><%= link_to user.username, user %></span>
  <% if current_user.admin?  %>
  	<% if user.id != 1 %>
      	<span class="delete-user-span"> <%= link_to "Удалить", user,
                                    :title => "Удалить #{user.email}",                              
                                    :method => "delete", 
                                    :confirm => "Вы уверены?", 
                                    :title => "Удалить #{user.email}",
                                    :page => params[:page],  
                                    :class => "delete_user"%>  </span>    
        <span class="user-email-span"><%= link_to user.email, user %></span>  
     <% end %>        
  <% end %>
</li> 
