<% if signed_in? && current_user.admin? %>
		
				
		<ul class="users">
		 <h2>Имя Email</h2>
		  <%= render @users %>
		</ul>
		<div id="my_pagination">
		  <%= paginate @users, :remote => true %>
		</div>

<% end %>