<ul>
  <li><b><%= t(:sing_up_username) %>: </b><%= @user.username %></li>
  <%- if current_user? (@user) and @user.admin? %>
  <li><b> <%= t(:sing_up_email) %>: </b><%= @user.email %></li>
  <% end -%>
</ul>


