<% title "Coupon" %>

<p>
  <%= link_to "Edit", edit_coupon_path(@coupon) %> |
  <%= link_to "Destroy", @coupon, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", coupons_path %>
</p>

