<%= "ставок нет" if @event.bets.to_win_with_draw.empty? %>
<%  @event.bets.to_win_with_draw.each_with_index do |b,i| %>

  <% if i%3 == 0 and i > 0 %>
    <br />
    <br />
  <% end %>

  <% if i == 0 %>
    <div class = "odd-bookmaker-header">Букмекер</div>
    <div class = "odd-value">1</div>
    <div class = "odd-value">X</div>
    <div class = "odd-value">2</div>
    <br />
    <br />
  <% end %>

  <% if i%3 == 0 %>
    <div class="odd-bookmaker-header"><%= image_tag imageUriByBookmakerName( b.bookmaker.name ), :width => 100, :height => 20 %></div>
  <% end %>
    <div class="odd-value"><%= b["odd"] %></div>

<% end %>

