$("div.accordian").html(' <div class="form_name grid_5">Предпросмотр</div> <%= escape_javascript ( render ( :partial => 'sports/sports_content')  ) %>  ');


var active_sport_item = $('h2#sport_' + '<%= escape_javascript ( @league.sport.id.to_s ) %>');


$('.acc_trigger').removeClass('active').next().hide();

if (active_sport_item !== null) {
	active_sport_item.toggleClass('active').next().show();
}

