<% if signed_in? %>
  <ul>
  <% current_user.coupons.each do |c| %>
      <% if !c.league.nil?%>
        <li>  <%= link_to c.league.name, c.league %> </li>
      <% end %>
  <% end %>
  </ul>
<% end %>

