<div class="betting-odds">

  <div class="betting-odds-header">
    <%= @top_event.name %> Betting Odds
  </div>

  <div class="bettings-odds-bookmakers">
       <%= @top_event.bets.first.bet_type.name  %>
  </div>

  <div class="bettings-odds-data">
    <% if @top_event.bets.first.bookmaker.name == 'Gamebookers' %>
      <img src="./images/gb.gif" width="100" height="20"/>
    <% else %>
    	<img src="./images/brk.gif" width="100" height="20"/>
    <% end %>

    <% @top_event.bets.each do |b| %>
        <div class="event"> <%= b.name %> - <%= b.odd %> </div>
    <% end %>
  </div>

</div>

