<% content_for :navigation do %>
  <%= render 'main_nav' %>
<% end %>

<% content_for :sub_navigation do %>
<% end %>

<% content_for :breadcrumb do %>
  <%= link_to t(:top_menu_bookmakers) %>
<% end %>

<% content_for :left_nav do %>
   <div id="my_coupon">
    <div class="header">Мои Лиги<a id="toggle-coupon-info" href="#" class="active"></a></div>
    <div class="my_coupon_data">
      <%= render 'site_top_navigation/coupons' %>
    </div>
  </div>
  <div id="sports_menu">
    <div class="header">Виды спорта</div>
	  <%= render 'sports/sports_content' %>
	</div>
<% end %>

<% content_for :content do %>
  букмекеры
<% end %>

<% content_for :right_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Купон<a id="toggle-coupon-clear" href="#" class="active"></a></div>
    <div class="my_coupon_bets">
        <b>Карточка пуста.</b>  <br />
        Добавляйте события, <br />
        кликая на коэффициенты  <br />
        на нашем сайте.  <br />
    </div>
  </div>
<% end %>

