<% content_for :sub_navigation do %>
<% end %>

<% content_for :breadcrumb do %>
  <%= t(:top_menu_bookmakers) %>
<% end %>

<% content_for :left_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Лиги<a id="toggle-coupon-info" href="#" class="active"></a></div>
    <div class="my_coupon_data">
      <%= render 'site_top_navigation/coupons' %>
    </div>
  </div>
  <div id="sports_menu">
    <div class="header">Виды спорта</div>
	  <%= render 'sports/sports_content' %>
	</div>
<% end %>

<% content_for :content do %>
  статистика
<% end %>

<% content_for :right_nav do %>
  <div id="my_coupon">
    <div class="header">Мои Купон<a id="toggle-coupon-clear" href="#" class="active"></a></div>
    <div class="my_coupon_data" style=" line-height: 16px; font-size: 12px; padding: 5px 0 10px 10px; background: url('../images/main-menu-bg.png') repeat 0 0;">
        <b>Карточка пуста.</b>  <br />
        Добавляйте события, <br />
        кликая на коэффициенты  <br />
        на нашем сайте.  <br />
    </div>
  </div>
<% end %>

